NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

RESEND_API_KEY=
EMAIL_FROM="Les Temples <onboarding@resend.dev>"
APP_URL="http://localhost:3000"
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

NOTIFICATIONS_ADMIN_EMAIL=
